.opcoesLista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opcoesLista li, .opcoesLista i {
    list-style-type: none;
    margin-left: 10px;
    padding: 1em;
    font-size: 1.3em;
}
.opcoesLista li:hover, .opcoesLista i:hover {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 1em;
    border-radius: 20px;
}