.containerSugestao {
    background-color: #282c34;
    height: 86vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 60%;
    padding: 1em;
    border-radius: 20px;
    background-color: #fff;
}