.containerSugestao {
    background-color: #282c34;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 90%;
    padding: 1em;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
    .containerDiv {
        width: 90%;
    }
}
.sugestaoApiLogado {
    color: #fff;
}