.containerSugestao {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0.5em;
    width: auto;
}
.containerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 300px;
    padding: 1em;
    border-radius: 20px;
    background-color: var(--color-white);
    margin-bottom: 1em;
}
@media screen and (min-width: 800px) {
    .containerDiv {
        width: 100%;
    }
}
.sugestaoApiLogado {
    color: var(--color-white);
}