.containerSemana {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-white);
    flex-direction: row;
    padding: 1em;
    height: auto;
    overflow: auto;
}

@media screen and (min-width: 900px) {
    .containerSemana {
        flex-direction: row;
    }
}