.containerSemana {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    flex-direction: column;
    padding: 1em;
    height: 86vh;
}

@media screen and (min-width: 900px) {
    .containerSemana {
        flex-direction: row;
    }
}