.labelCadastroUsuario {
    width: 90%;
    color: var(--color-white);
    font-size: 1.5em;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.inputCadastroUsuario {
    width: 100%;
    padding: 1em;
    border-radius: 20px;
    border: none;
    margin: .5em 0;
}

@media screen and (min-width: 900px) {
    .labelCadastroUsuario {
        width: 50%;
    }
}