.containerDiaSemana {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    height: auto;
    width: 200px;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    margin: 1em 0;
}

@media screen and (min-width: 900px) {
    .containerDiaSemana {
        height: 350px;
        justify-content: flex-start;
        align-items: center;
    }
}