.containerDiaSemana {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-white);
    color: var(--color-black);
    height: 350px;
    width: 215px;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    margin: 1em;
    border: 1px solid transparent;
    transition: .2s;
}

@media screen and (min-width: 900px) {
    .containerDiaSemana {
        height: 350px;
        justify-content: flex-start;
        align-items: center;
    }
    .containerDiaSemana:hover {
        border: 1px solid var(--color-black);
        color: var(--color-white);
        background-color: var(--color-green);
    }
    .containerDiaSemana:visited,.containerDiaSemana:active {
        color: var(--color-white);
        background-color: blue;
    }
}