.containerDiaSemana {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    height: auto;
    width: 200px;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
    margin: 1em 0;
    border: 1px solid transparent;
    transition: .2s;
}

@media screen and (min-width: 900px) {
    .containerDiaSemana {
        height: 350px;
        justify-content: flex-start;
        align-items: center;
    }
    .containerDiaSemana:hover {
        border: 1px solid black;
        color: #fff;
        background-color: green;
    }
    .containerDiaSemana:visited,.containerDiaSemana:active {
        color: #fff;
        background-color: blue;
    }
}