.btnEnvio {
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 20px;
    width: auto;
    background-color: green;
    color: #fff;
    cursor: pointer;
}
.btnEnvio:hover {
    border: 1px solid black;
}