.SelectCadastroUsuario {
    width: 60%;
    padding: 1em;
    border-radius: 20px;
    border: none;
    margin: 2em 0;
    color: var(--color-black);
}

@media screen and (min-width: 900px) {
    .SelectCadastroUsuario {
        width: 20%;
    }
}