.SelectCadastroUsuario {
    width: 60%;
    padding: 1em;
    border-radius: 20px;
    border: none;
    margin: 2em 0;
    color: var(--color-black);
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width: 900px) {
}