.containerCardapio {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    width: 100%;
}
.ordemCardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerAtualizaDeletaCardapio {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerInputAtualizaCardapio{
    display: flex;
    justify-content: space-around;
}
.ContainerBtnAtualizaEDeleta {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
}
.containerDadosAPI {
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerDadosAPIEstiloAutorizado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: 1em;
}
.containerDadosAPIDataEstiloAutorizado {
    margin: .5em 1em;
    font-size: 1.5em;
}
.containerDadosAPIEstilo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 1em;
}
.containerDadosAPIEstilo h3 {
    font-size: 2em;
    margin: 20px 0;
}
.containerDadosAPIEstiloLista {
    width: 100%;
    font-size: 1.5em;
    margin: .3em 0;
}